body {
    font-family: Times New Roman, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('onepiece.jpg'); /* Cambia 'mi-imagen.jpg' por el nombre de tu imagen */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    background-color: #b2bf21;
    color: white;
    text-align: center;
    padding: 30px;
}

main p {
    font-family: "Times New Roman", serif; /* Cambia el tipo de letra */
    font-size: 24px; /* Cambia el tamaño */
    color: #333; /* Puedes cambiar el color si quieres */
    text-align: center; /* Centrado opcional */
    margin-top: 20px;
}


/* Estilo para la imagen (logo) */
header img {
    position: absolute; /* Posicionamiento absoluto para mover el logo */
    top: 10px; /* Mueve el logo 10px hacia abajo desde la parte superior */
    left: 10px; /* Mueve el logo 10px hacia la izquierda desde el borde */
    width: 150px; /* Tamaño del logo */
}

/* Estilo para el texto del header */
header h1 {
    font-size: 24px;
    margin: 10px 0;
}

section {
    padding: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px; /* Espacio arriba */
    margin-left: 50px; /* Mueve el botón 50px desde la izquierda */
}

button:hover {
    background-color: #45a049;
}

